.App{
    background-image:url("bk3.jpg");

    background-size: 100%;
    margin: 0;
    padding: 0;
    /* width: 1260px;
    height: 841px; */
  
}

.title{
    background-color: #EF9A9A;
    
    opacity: 0.8;
    font-size:50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    vertical-align: middle;
    line-height: 14vh;
    height: 14vh;
    width:100%;
    margin: 0;
    padding: 0;
}
.subtitle{
    background-color:#C8E6C9  ;
    opacity: 0.8;
  
    font-size:30px;
    font-family: Arial, Helvetica, sans-serif;
    /* text-align: center; */
    vertical-align: middle;
    line-height: 12vh;
    height: 12vh;
    width:100%;
    margin: 0;
    padding: 0;
    font-weight:bold;
}

.box{
    text-align: center;
    vertical-align: middle;
    line-height: 45px;
    display: flex;
    height: 43vh;
    margin: 0;
    padding: 0;
  
    
  
  
  
    
  }
  .flex1{

    flex:1;
    text-align: center;
    margin: 0;
    padding: 0;
  
    

  }
 
  .flex2{

    flex:1;
    text-align: center;
    margin: 0;
    padding: 0;
  
  
    
  }
  .flex11{

    flex:1;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    


    

  }
 
  .flex21{




    flex:1;
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
  
  
    
  }
  .flex12{


    flex:1;
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    

  }
 
  .flex22{

    flex:1;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    
  
    
  }
  .containert{
    height: 383px;
    text-align: center;
    font-size: 35px;

  }
  .container{
    height: 383px;
   
    
}
.container11{
    height: 383px;
   
    
}
.container21{
    height: 570px;
   
    
}
.container31{
    height: 383px;
    background-image:url("ptgp.jpg");
    background-size: 742px 383px;
    position: relative;
    
   
    
}
.video{
    position:absolute;
  

    width: 742px;
    height: 383px;
    opacity: 0;
   
}
.video:hover{
    opacity: 1;
    transition: all 0.5s linear;
}

.container41{
    height: 383px;
   
    
}
.container12{
    height: 383px;
   
    
}
.container22{
    height: 480px;
   
    
}
.container32{
    height: 383px;
    background-image:url("sdpj.jpg");
    background-size: 742px 383px;
   
    
}
.container42{
    height: 383px;
   
    
}
.mask{
    position:absolute;
    background-color: #FFB74D ;
    width: 742px;
    height: 383px;
    opacity: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 383px;
   
   
    font-size: 50px;
    
}
.mask:hover{
    opacity: 0.4;
    transition: all 0.5s linear;
}

a{
    text-decoration: none;
    color: black;
}


 

